@import url("water.css/out/water.min");

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  grid-auto-rows: auto;
  place-content: center;
  place-items: center;
  margin-top: 25vh;
}

.row {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
}

/* .container { */
/*     height: 75; */
/* } */
